name: CI
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
    tags: [ '*' ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ '1.10', '1' ]
    steps:
      - uses: actions/checkout@v3

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}

      - uses: julia-actions/cache@v2

      - name: Install dependencies
        run: julia --project=@. -e 'using Pkg; Pkg.instantiate()'
