name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: '*'
jobs:
  test:
    name: Julia ${{ matrix.version }}
    runs-on: ubuntu-latest
    env:
      JULIA_PKG_SERVER: ""
      JULIA_NUM_THREADS: "4"
      DISPLAY: ":99"
      LIBGL_ALWAYS_SOFTWARE: "1"
      MESA_GL_VERSION_OVERRIDE: "4.5"
      MESA_GLSL_VERSION_OVERRIDE: "450"
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
          - '1'
    steps:
      - uses: actions/checkout@v6

      - uses: julia-actions/setup-julia@v2
        with:
          run: |
            julia --project=@. -e "using Pkg; Pkg.test(coverage=true)"