name: CI

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:

permissions:
  contents: write
  pull-requests: read
  statuses: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'

      - uses: julia-actions/cache@v2
      
      # --- ADD THIS SECTION TO INSTALL GRAPHICS LIBS ---
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1-mesa-glx libpreview-dev

      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'

      - name: Build and deploy docs
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI: true
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GKSwstype: "100" # Useful for some plotting backends to stay headless
        run: |
          xvfb-run --auto-servernum julia --project=docs/ docs/make.jl
